

/* ////////////////////////////// */
/* CSS IMPORT  */
/* ///////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');


/* ////////////////////////////// */
/* CSS NORMALICE  */
/* ///////////////////////////// */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}html{scroll-behavior: smooth;}

/* ////////////////////////////// */
/* CSS CONFIGURATION  */
/* ///////////////////////////// */

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* ////////////////////////////// */
/* CSS variables  */
/* ///////////////////////////// */

:root{
   /*| FONTS VAR */
   --fonts-poppins: 'Poppins', sans-serif;
}


/* ////////////////////////////// */
/* CSS GENERALES  */
/* ///////////////////////////// */
body {
    font-size: 18px;
    font-family: var(--fonts-poppins);
    background: #0E1720;
}


img {
    vertical-align: top;
    width: 100%;
}

/* /////////////////////////////// */
/*  CSS SPACING */
/* ////////////////////////////// */

/* height */


/* padding */
.p-auto {
    padding: auto;
}

.p-full {
    padding: 100%;
}

.p-1 {
    padding: 0.25rem; /* 4px */
}

.p-2 {
    padding: 0.75rem; /* 12px */
}

.p-3 {
    padding: 1rem; /*16px*/
}

.p-4 {
    padding: 1.5rem; /*24px*/
}

.p-5 {
    padding: 2rem /*32px*/
}

.p-6 {
    padding: 3rem; /* 48px */
}

/* padding-top */
.p-t1 {
    padding-top: 0.25rem; /* 4px */
}

.p-t2 {
    padding-top: 0.75rem; /* 12px */
}

.p-t3 {
    padding-top: 1rem; /*16px*/
}

.p-t4 {
    padding-top: 1.5rem; /*24px*/
}

.p-t5 {
    padding-top: 2rem /*32px*/
}

.p-t6 {
    padding-top:  3rem; /* 48px */
}


.m-auto {
    margin: auto;
}



/* ////////////////////////////// */
/* CSS CONTAINERS  */
/* ///////////////////////////// */

/*  100% */
.container {
    width: 100%;
}

/* 640px */
.container-small {
    max-width: 640px;
}

/* 768px */
.container-mid {
    max-width: 768px;
}

/* 1024px */
.container-large {
    max-width: 1024px;
}

/* 1280px */
.container-xlarge {
    max-width: 1280px;
}

/* 1536px */
.container-2xlarge {
    max-width: 1536px;
}


/* ////////////////////////////// */
/* GRID  */
/* ///////////////////////////// */

.grid {
    display: grid;
    gap: 20px;
}

/* escritorios */
.col-1 {
    grid-template-columns: repeat(1, 1fr);
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.col-5 {
    grid-template-columns: repeat(5, 1fr);
}

.col-6 {
    grid-template-columns: repeat(6, 1fr);
}





/* tablets */
@media screen and (max-width: 992px) {
    .mid-col-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .mid-col-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .mid-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    /* cantidad de colummnas a ocupar */

    .mid-col-span-1 {
        grid-column: span 1;
    }

    .mid-col-span-2 {
        grid-column: span 2;
    }

    .mid-col-span-3 {
        grid-column: span 3;
    }

    .mid-col-span-4 {
        grid-column: span 4;
    }

}


/* smarphones */
@media screen and (max-width: 576px) {
    .small-col-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .small-col-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .small-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

   
    /* cantidad de colummnas a ocupar */

    .small-col-span-1 {
        grid-column: span 1;
    }

    .small-col-span-2 {
        grid-column: span 2;
    }

    .small-col-span-3 {
        grid-column: span 3;
    }

   
}

/* ////////////////////////////// */
/* FLEXBOX  */
/* ///////////////////////////// */

.flex{
    display: flex;
}

/* direccion */




/* alineacion */

/* eje horizontal  */
.justify-between{
    justify-content: space-between;
}


.justify-center{
    justify-content: center;
}







/* ////////////////////////////// */
/* ENCABEZADOS  */
/* ///////////////////////////// */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.display-1 {
    font-weight: 700;
    font-size: 4rem; /* 64px */
}

.display-2 {
    font-weight: 700;
    font-size: 4.625rem; /* 74px */
}

.display-3 {
    font-weight: 700;
    font-size: 5.25rem; /* 84px */
}


/* ////////////////////////////// */
/* HELPERS  */
/* ///////////////////////////// */


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

